body{
  background: linear-gradient(70deg,rgb(0, 0, 77),rgb(102, 153, 255));
}


#title{
  display:flex;
  justify-content: center;
  color: white;
}

#description{
  display:flex;
  justify-content: center;
  color:white;
  font-size: 3vh;
}



#survey-form{
  margin:0em 12em 0em 12em;
  padding:1em 3em 1em 3em;
  background-color: rgba(77, 26, 0,0.7);
  display:grid;
  grid-row:1/15;
  color:rgb(204, 255, 255);
  font-size:3vh;
}

#name{
  margin-bottom:2%;
}

#email{
  margin-bottom:2%;
}

#number{
  margin-bottom:2%;
}

#dropdown{
  margin-bottom:2%;
}

#name-label{
  margin-bottom: 1%;
}

#email-label{
  margin-bottom:1%;
}

#number-label{
  margin-bottom:1%;
}

#dropdown-label{
  margin-bottom:1%;
}

fieldset{
  margin-bottom:2%;
}

button{
  margin-top:2%;
  margin-bottom:2%;
}

textarea{
  height:110px;
}
